@import url('https://fonts.googleapis.com/css?family=Numans');

.main-image {
    background-image: url("static/images/golf_background.jpg");
}

.icon-wrapper {
    text-align: center;
}
.main-icons {
    font-size: 100px;
    padding: 25% 50px 10px;
    color: blue;
}

.content-wrapper {
    background-color: #FFFAFA;
    opacity: 0.9;
    border-radius: 2%;
    padding: 2%;
}

.wrapper-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.intro {
    padding: 2%;
}

.login {
    padding: 2%;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.login_btn{
color: white;
background-color: blue;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.card{
opacity: 0.9;
height: 370px;
margin-top: 5%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.review-card{
border-radius: 5%;
opacity: 0.9;
height: auto;
margin: 5%;
width: auto;
background-color: rgba(0,0,0,0.1) !important;
}

.review-text{
    margin: auto;
    padding: .5%;
    font-size: 15px;
}
