@import url('https://fonts.googleapis.com/css?family=Numans');

.icon-wrapper {
    text-align: center;
}
.main-icons {
    font-size: 100px;
    padding: 25% 50px 10px;
    color: blue;
}

.wrapper-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.intro {
    padding: 2%;
    margin: 10px;
    color: #2f4f4f;
}

.intro-light {
    color: #CDCDCD;
    margin: 5px;
    padding: 2px;
}

.login {
    padding: 2%;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.btn{
color: white;
background-color:#228B22;
border-color: #228B22;
width: 150px;
padding: 5px;
}

.btn:hover{
color: black;
background-color: white;
border-color: #228B22;
}

.card{
opacity: 0.9;
height: 370px;
margin-top: 5%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.review-card{
height: auto;
width: auto;
margin: 5%;
background-color: rgba(0,0,0,0.5) !important;
color: whitesmoke;
}

.review-card-intro{
width: 100%;
background-color: rgba(0,0,0,0.5) !important;
color: whitesmoke;
}

.review-text{
    margin: auto;
    padding: .5%;
    font-size: 15px;
}

.default-image{
    height: 125px;
    width: 100px;
    border-radius: 15%;
    margin: 1%;
    padding: 1%;
}

.edit-text {
    height: 50px;
    width: auto;
}

.card-header {
    color: whitesmoke;
}

.card-footer {
    color: whitesmoke;
}

.rev-btn {
    height: 42px;
    width: 50px;
    padding: 10px%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.filters {
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.write-filters {
    max-width: 350px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.filters-btn {
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.affiliate-img {
    height: 30px;
    width: 80px;
    padding: 2px;
}

.login-nav {
    padding-right: 2px;
    color: whitesmoke;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin: 1%;
}

.login-icon {
    font-size: 20px;
}