{% extends 'base.html'%}
{% block content %}
<main id="main">
	<section class="main">
		<div class="jumbotron main-image">
			<div class="container">
				<h1 class="display-4">All Golf Everything</h1>
				<p class="lead">Your one stop resource for everything golf related, with none of the noise. By golfers, for golfers.</p>
				<hr class="my-4">
				<p>Already a member of the community? Login below! Otherwise sign up to join us and start contributing.
				</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
					<a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign Up</a>
				</p>
			</div>
		</div>
	</section>
	<section class="info">
		<div class="container">
			<div class="row intro">
				<i class="material-icons">person_outline</i>
				<h3>Join a new golfing community</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium consequatur sit!
					Consequuntur quaerat iusto obcaecati sapiente, alias quasi sit, facilis quos voluptas nisi deserunt
					tenetur consequatur, ab fuga aspernatur?</p>
			</div>
			<div class="row intro">
				<i class="material-icons">search</i>
				<h3>Search, Review, Like </h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium consequatur sit!
					Consequuntur quaerat iusto obcaecati sapiente, alias quasi sit, facilis quos voluptas nisi deserunt
					tenetur consequatur, ab fuga aspernatur?</p>
			</div>
			<div class="row intro">
				<i class="material-icons">sports_golf</i>
				<h3>Stay in the loop</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium consequatur sit!
					Consequuntur quaerat iusto obcaecati sapiente, alias quasi sit, facilis quos voluptas nisi deserunt
					tenetur consequatur, ab fuga aspernatur?</p>
			</div>
		</div>
	</section>

</main>

{% endblock %}