{% extends "base.html" %}
{% block content%}
<div class="container">
	<div class="row justify-content-center">
		<div class="card text-white bg-dark ">
			<div class="card-header">
				<h3 class="display-4">Register</h3>
			</div>
            <!-- Register Section -->
			<div class="card-body">
				<form action="{{ url_for('register') }}" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="material-icons">account_circle</i></span>
						</div>
						<input type="text" name="username" class="form-control" placeholder="username">

					</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="material-icons">vpn_key</i></span>
							</div>
							<input type="password" name = "password" class="form-control" placeholder="password">
					</div>
							<div class="form-group">
								<button type="submit" value="Login" class="btn float-left login_btn">Register</button>
							</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="row d-flex no-gutters justify-content-center">
					<a class="links" href="{{ url_for('get_index') }}">Return to main page</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}