{% extends 'base.html'%}
{% block content %}
<section class="main">
	<div class="jumbotron main-image">
		<div class="container">
			<h1 class="display-4">Reviews</h1>
			<p class="lead">Welcome to the reviews section of All Golf.</p>
			<hr class="my-4">
			<p>The top 10 newest results are shown by default, or you can filter results by either category, brand or
				both.
			</p>
		</div>
	</div>
</section>

<div class="container">
	<div class="review-card col-sm-12">
		<form action="{{url_for('filter_reviews')}}" method="POST">
			<div class="form-group col-md-4">
				<label for="Choose Category"></label>
				<select class = "form-control" id="category" name="category_name">
       <option value="" disabled selected>Choose Category</option>
                {% for category in category %}      
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endfor %}
    </select>
			</div>
			<div class="form-group col-md-4">
				<label for="Choose Brand"></label>
				<select class = "form-control" id="brand" name="brand_name">
        <option value="" disabled selected>Choose Brand</option>
                {% for brands in brands %}      
                        <option value="{{brands.brand_name}}">{{brands.brand_name}}</option>
                    {% endfor %}
    </select>
				<button class="btn waves-effect waves-light" type="submit">Filter<i class="material-icons right">send</i>
                </button>
		</form>
		<a class="btn-floating btn-large waves-effect waves-light yellow" href="{{url_for('get_reviews')}}">Reset
			Filters
			<i class="material-icons">refresh</i>
		</a>
	</div>
</div>

{% for review in reviews %}
<div class="review-card col-sm-12">
	<img class= "default-image" src="static/images/golf_image.jpg" alt="default image">
	<div class="row review-text"><strong>{{review.review_title}}</strong></div>
	<div class="row review-text">Rating (out of 5): {{review.score}}</div>
	<div class="row review-text"><a class="btn-floating btn-large waves-effect waves-light yellow"
			href="{{review.image_url}}" target="_blank">Click for image
			<i class="material-icons">refresh</i>
		</a></div>
	<div class="row review-text"><strong>Category: </strong> {{review.category_name}}</div>
	<div class="row review-text"><strong>Brand: </strong> {{review.brand_name}}</div>
	<div class="row review-text"><strong>Model: </strong> {{review.model_name}}</div>
	<div class="row review-text">{{review.review_text}}</div>
	<div class="row review-text">{{review.upvote}} Like(s)</div>
    <hr class="my-4">
	<div class="col-xs-12">
		<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="Click to like!"
			href="{{url_for('upvoted', review_id=review._id)}} ">
			<i class="material-icons">thumb_up</i>
		</a>
		<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="Click to update this review"
			href="{{url_for('edit_review', review_id=review._id)}}">
			<i class="material-icons">add</i>
		</a>
		<a class="btn rev-btn" data-toggle="tooltip" data-placement="top" title="Click to delete this review"
			href="{{url_for('delete_review', review_id=review._id)}}">
			<i class="material-icons">delete</i>
		</a>
	</div>
</div>
{% endfor %}
{% endblock %}