{% extends 'base.html'%}
{% block content %}
<section class="main">
	<div class="jumbotron main-image">
		<div class="container">
			<h1 class="display-4">Reviews</h1>
			<p class="lead">Welcome to the reviews section of All Golf.</p>
			<hr class="my-4">
			<p>The top 10 newest results are shown by default, or you can filter results by either category, brand or
				both.
			</p>
		</div>
	</div>
</section>

<div class="container">
	<div class="review-card col-sm-12">
		<form action="{{url_for('filter_reviews')}}" method="POST">
			<div class="row">
				<div class="input-field col s8">
					<i class="material-icons prefix">subject</i>
					<select id="categories" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                {% for category in category %}      
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
				</div>
				<div class="input-field col s8">
					<i class="material-icons prefix">subject</i>
					<select id="brands" name="brand_name">
                    <option value="" disabled selected>Choose Brand</option>
                {% for brands in brands %}      
                        <option value="{{brands.brand_name}}">{{brands.brand_name}}</option>
                    {% endfor %}
                </select>
				</div>
				<button class="btn waves-effect waves-light" type="submit">Filter<i class="material-icons right">send</i>
                </button>
		</form>
		<a class="btn-floating btn-large waves-effect waves-light yellow" href="{{url_for('get_reviews')}}">Reset
			Filters
			<i class="material-icons">refresh</i>
		</a>
	</div>

</div>
</div>
{% for review in reviews %}
<div class="container">
	<div class="review-card col-sm-12">
		<img class= "default-image" src="static/images/golf_image.jpg" alt="">
		<div class="row review-text">Rating (out of 5): {{review.score}}</div>
		<div class="row review-text"><a class="btn-floating btn-large waves-effect waves-light yellow"
				href="{{review.image_url}}">Click for image
				<i class="material-icons">refresh</i>
			</a></div>
		<div class="row review-text">Category: {{review.category_name}}</div>
		<div class="row review-text">Brand: {{review.brand_name}}</div>
		<div class="row review-text">Model: {{review.model_name}}</div>
		<div class="row review-text">{{review.review_text}}</div>
		<div class="row review-text">{{review.upvote}} Like(s)</div>
		<div class="col s4">
			<a class="btn like-btn" href="{{url_for('upvoted', review_id=review._id)}} ">
				<i class="material-icons">thumb_up</i>
			</a>
			<a class="btn add-btn"
				href="{{url_for('edit_review', review_id=review._id)}}">
				<i class="material-icons">add</i>
			</a>
			<a class="btn delete-btn"
				href="{{url_for('delete_review', review_id=review._id)}}">
				<i class="material-icons">delete</i>
			</a>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}