{% extends "base.html" %}
{% block content%}
<section class="main">
	<div class="jumbotron main-image">
		<div class="container">
			<h1 class="display-4">Quick Search Results</h1>
			<p class="lead">Your quick search summary results are below</p>
			<hr class="my-4">
			<p>Here you can read a brief summary of a review left by a community member.
            Please navigate to the reviews section and filter by category to interact with any results.
			</p>
		</div>
	</div>
</section>
{% if results %}
{% for r in results %}
<div class="review-card col-sm-12">
	<img class= "default-image" src="static/images/golf_image.jpg" alt="default image">
	<div class="row review-text"><strong>{{r.review_title}}</strong></div>
	<div class="row review-text">Rating (out of 5): {{r.score}}</div>
	<div class="row review-text"><a class="btn-floating btn-large waves-effect waves-light yellow"
			href="{{review.image_url}}" target="_blank">Click for image
			<i class="material-icons">refresh</i>
		</a></div>
	<div class="row review-text"><strong>Category: </strong> {{r.category_name}}</div>
	<div class="row review-text"><strong>Brand: </strong> {{r.brand_name}}</div>
	<div class="row review-text"><strong>Model: </strong> {{r.model_name}}</div>
	<div class="row review-text">{{r.review_text}}</div>
	<div class="row review-text">{{r.upvote}} Like(s)</div>
	<hr class="my-4">
	<div class="col-xs-12">
    {% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}