{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
	<div class="container">
		<div class="card main-card">
			<h1 class="display-4">Quick Search Results</h1>
			<p class="lead">Your quick search summary results are below</p>
			<p class="lead">Here you can read a brief summary of a review left by a community member.
				Please navigate to the reviews section and filter by category to interact with any results.
			</p>
		</div>
	</div>
</div>
<!-- Search Results Section -->
{% if results %}
<div class="container">
	<div class="row">
		{% for r in results %}
		<div class="card-deck col-xs-12 col-md-6">
			<div class="card text-white bg-dark ">
				<img class="card-img-top img-fluid default-image" src="{{r.image_url}}" onerror="this.src='/static/images/golf_background.jpg';" alt="Product image">
				<div class="row review-text">
					<a class="" data-toggle="tooltip" data-placement="top"
						title="Click to see this item on American Golf"
						href="https://www.americangolf.co.uk/{{r.brand_name}}" target="_blank">
						<img class="affiliate-img" src="static/images/am_golf_logo_default.jpg" alt="am-golf-logo">
			</a>
				</div>
				<div class="card-header">
					<div class="card-title">
						<h5 class="lead">{{r.review_title}}</h5>
					</div>
					<div class="row review-text lead">Reviewed by {{r.author}}</div>
					<div class="row review-text lead">Rating (out of 5): {{r.score}}</div>
					<div class="row review-text lead">Category: {{r.category_name}}</div>
					<div class="row review-text lead">Brand: {{r.brand_name}}</div>
					<div class="row review-text lead">Model: {{r.model_name}} </div>
				</div>
				<div class="card-body">
					<p class="review-text lead">{{r.review_text}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}