{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
	<div class="container">
		<div class="card main-card">
			<h1 class="display-4">Write a review</h1>
			<p class="lead">Welcome to the contributions section of All Golf</p>
			<p class="lead">You can write your review for the community below.
				First give it a title. Then select
				a category, brand and model (You can add these if you need to) and then give it a score based on your
				experience.</p>
			<p class="lead">Finally, make sure to give us an image url so we can see for ourselves!
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row no-gutters justify-content-center">
		<div class="col-xs-12">
			<div class="card text-white bg-dark">
				<div class="lead card-header">Write a review<i class="material-icons btn-icon float-right">
                            edit</i></div>
				<div class="card-body">
					<form class="form-group" action="/insert_review" method="POST">
						<div class="row no-gutters">
							<label class="lead" for="Title">Title</label>
							<textarea name="review_title" class="form-control" placeholder="Give your review a title here" id="exampleFormControlTextarea1" rows="1" required></textarea>
						</div>
						<div class="row no-gutters">
							<label class="lead" for="Choose Category">Category</label>
							<select class = "form-control" id="category" name="category_name">
       <option value="" disabled selected>Choose Category</option>
                {% for category in category %}      
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endfor %}
    </select>
						</div>
						<div class="row no-gutters">
							<label class="lead" for="Choose Brand">Brand</label>
							<select class = "form-control" id="brand" name="brand_name">
        <option value="" disabled selected>Choose Brand</option>
                {% for brands in brands %}      
                        <option value="{{brands.brand_name}}">{{brands.brand_name}}</option>
                    {% endfor %}
    </select><a class="btn filters" data-toggle="modal" href="#brandmodal">Add Brand
							</a>
						</div>
						<div class="row no-gutters">
							<label class="lead" for="Choose Model">Model</label>
							<select class = "form-control" id="model" name="model_name">
        <option value="" disabled selected>Choose Model</option>
                {% for models in models %}      
                        <option value="{{models.model_name}}">{{models.model_name}}</option>
                    {% endfor %}
                </select>
							<a class="btn filters" data-toggle="modal" href="#modelmodal">Add Model
								<i class="material-icons"></i>
							</a>
						</div>
						<div class="row no-gutters">
							<label class="lead" for="Score">Score</label>
							<select class = "form-control" id="score" name="score">
        <option value="" disabled selected>Score</option>
                {% for score in score %}      
                        <option value="{{score.score}}">{{score.score}}</option>
                    {% endfor %}
                </select>
						</div>
						<div class="row no-gutters">
							<label class="lead" for="Review Text">Contents & Image</label>
							<textarea name="review_text" placeholder="Write your review here" class="form-control" id="review_text" rows="5"></textarea>
						</div>
						<div class="row no-gutters">
							<div class="input-group mb-3 col">
								<div class="input-group-prepend">
									<span class="input-group-text" id="URL">URL</span>
								</div>
								<input type="text" name="image_url" class="form-control" id="basic-url" aria-describedby="image url">
                            </div>
							</div>
							<input id="upvote" name="upvote"  type="hidden" value ="0" class="form-control" readonly></input>

							<button class="btn d-flex align-items-center" type="submit">Submit Review</i><i class="material-icons btn-icon">
                            send</i>
                </button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="brandmodal" tabindex="-1" role="dialog" aria-labelledby="brandmodal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add a new brand to database</h5>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('insert_brand') }}" method="POST" class="col-sm12">
					<div class="row">
						<div class="input-field col">
							<input class="form-control" id="brand_name" name="brand_name" type="text" class="validate" required>
							<label for="brand_name"></label>
						</div>
					</div>

			</div>

			<div class="modal-footer">
				<div class="form-group write-filters col">
					<button class="btn btn-primary" type="submit">Add Brand
        </button></form>
					<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modelmodal" tabindex="-1" role="dialog" aria-labelledby="modelmodal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add a new model to database</h5>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('insert_model') }}" method="POST" class="col-sm12">
					<div class="row">
						<div class="input-field col">
							<input class = "form-control" id="model_name" name="model_name" type="text" class="validate" required>
							<label for="model_name"></label>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<div class="form-group write-filters col">
					<button class="btn btn-primary" type="submit">Add Model
        </button></form>
					<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}